.catalog__item {
  width: 81%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 26px;

  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.catalog__item--hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__item--active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog__link {
  display: block;

  margin-bottom: 4px;

  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__image {
  display: block;

  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.catalog__subtitle {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;

  color: $contrast-color;
}

.catalog__description {
  width: 79%;
  margin: 0 auto;
}

.catalog {
  padding-top: 31px;
}

.catalog__text {
  @include p-default;
  font-size: 13px;
  line-height: 30px;

  margin-bottom: 19px;
}

.catalog__price {
  @include p-default;
  font-family: $bold;
  line-height: 24px;

  display: flex;

  padding-top: 22px;

  border-top: 1px solid rgba(236, 236, 236, 1);
}

.catalog__basket {
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;

  & .catalog__icon {
    fill: rgba($contrast-color, 0.3);
  }

  &:hover .catalog__icon,
  &:focus .catalog__icon {
    fill: $main-color;
  }

  &:active .catalog__icon {
    opacity: 0.3;

    fill: $main-color;
  }
}

.catalog__space {
  margin-right: 4px;
}

@media (min-width: $tablet) {
  .catalog__item {
    display: flex;

    width: 87%;
    max-width: none;
    margin-bottom: 52px;
    padding-bottom: 0;

    border: 1px solid rgba(236, 236, 236, 1);

    justify-content: space-between;
  }

  .catalog {
    padding-top: 69px;
  }

  .catalog__link {
    font-size: 20px;
  }

  .catalog__text {
    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;

    margin-top: auto;
    padding-bottom: 27px;
    padding-left: 5px;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;

    width: 274px;
    margin: 0;
    margin-right: 33px;
    padding-top: 26px;
  }

  .catalog__image {
    max-width: 100%;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .catalog {
    display: flex;

    width: 1050px;
    margin: 0 auto;
    margin-bottom: 54px;
    padding-top: 118px;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;

    width: 315px;
    min-height: 660px;
    margin: 0;
  }

  .catalog__link {
    margin-bottom: 6px;
  }

  .catalog__text {
    margin-bottom: 0;
  }

  .catalog__description {
    width: 255px;
    margin-right: 0;
    margin-left: 26px;

    flex-grow: 1;
  }

  .catalog__price {
    padding-left: 0;
  }
}
