.catalog__item {
  margin: 0;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  margin-bottom: 30px;
}

.catalog__item--hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__item--active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog__link {
  display: block;
  color: inherit;
  margin-bottom: 4px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__image {
  display: block;
  margin-bottom: 28px;
}

.catalog__subtitle {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  color: $contrast-color;
}

.catalog__description {
  width: 204px;
  margin: 0 auto;
}

.catalog {
  padding-top: 31px;
}

.catalog__text {
  @include p-default;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 19px;
}

.catalog__price {
  @include p-default;
  font-family: $bold;
  line-height: 24px;
  border-top: 1px solid rgba(236, 236, 236, 1);
  padding-top: 22px;
  display: flex;
}

.catalog__basket {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;

  & .catalog__icon {
    fill: rgba($contrast-color, 0.3);
  }

  &:hover .catalog__icon,
  &:focus .catalog__icon {
    fill: $main-color;
  }

  &:active .catalog__icon {
    fill: $main-color;
    opacity: 0.3;
  }
}

.catalog__space {
  margin-right: 4px;
}

@media (min-width: $tablet) {
  .catalog__item {
    width: 668px;
    display: flex;
    padding-bottom: 0;
    border: 1px solid rgba(236, 236, 236, 1);;
    margin-bottom: 52px;
  }

  .catalog {
    padding-top: 69px;
  }

  .catalog__link {
    font-size: 20px;
  }

  .catalog__text {
    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;
    padding-bottom: 27px;
    padding-left: 5px;
    margin-top: auto;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    width: 274px;
    margin: 0;
    padding-top: 26px;
    margin-left: 27px;
  }

  .catalog__image {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .catalog {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 118px;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;
    margin: 0;
    min-height: 660px;
  }

  .catalog__link {
    margin-bottom: 6px;
  }

  .catalog__text {
    margin-bottom: 0;
  }

  .catalog__description {
    width: 255px;
    flex-grow: 1;
  }

  .catalog__price {
    padding-left: 0;
  }
}
