.copyright {
  font-family: $bold;
  font-size: 19px;
  line-height: 19px;

  display: flex;

  box-sizing: border-box;
  width: 81%;
  margin: 0 auto;
  padding-top: 22px;

  color: $contrast-color;
  border-top: 1px solid rgba(229, 229, 229, 1);

  justify-content: center;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  @include p-default;
}

.copyright__text {
  margin-top: 5px;
  margin-right: 29px;
}

@media (min-width: $tablet) {
  .copyright {
    display: flex;

    width: 222px;
    margin: 0;
    padding-left: 0;

    border-top: none;

    justify-content: flex-end;
  }
}
