.form-user__input {
  font-size: 14px;
  line-height: 24px;

  padding: 5px 5px;

  border: 2px solid transparent;
}

.form-user__input::placeholder {
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;

  color: $contrast-color;
}

.form-user__basket {
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;

  display: flex;

  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 24px;

  color: $contrast-color;
}

.form-user__icon-search {
  fill: #d3d2d2;
}

.form-user__label:hover .form-user__icon-search,
.form-user__label:focus .form-user__icon-search {
  fill: $main-color;
}

.form-user__label:active .form-user__icon-search {
  fill: #d0f1ea;
}

.form-user__search {
  @include p-default;
  display: flex;

  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 18px;

  border-bottom: 1px solid $trans-color;
}

.form-user__label {
  margin-right: 20px;
  padding-top: 10px;
}

.form-user__top-wrap {
  border-bottom: 1px solid $trans-color;
}

.form-user__bottom-wrap {
  border-bottom: 1px solid $trans-color;
  background-color: $paper-color;
}

.form-user__icon-basket {
  fill: #d3d2d2;
}

.form-user__basket:hover,
.form-user__basket:focus {
  color: rgba($contrast-color, 0.6);
}

.form-user__basket:active {
  color: rgba($contrast-color, 0.3);
}

.form-user__basket:hover .form-user__icon-basket,
.form-user__basket:focus .form-user__icon-basket {
  fill: $main-color;
}

.form-user__basket:active .form-user__icon-basket {
  fill: #d0f1ea;
}

.form-user__svg-wrap {
  @include p-default;
  margin-right: 24px;
  padding-top: 3px;
}

@media (min-width: $tablet) {
  .form-user {
    display: flex;

    box-sizing: border-box;
    padding-right: 24px;

    justify-content: flex-end;
  }

  .form-user__input {
    display: none;
  }

  .form-user__search {
    width: auto;

    border-bottom: none;
  }

  .form-user__bottom-wrap {
    border-bottom: none;
  }

  .form-user__label {
    margin: 0;
    padding-top: 16px;
    padding-left: 33px;
  }

  .form-user__top-wrap {
    box-sizing: border-box;
    padding-right: 32px;

    border-right: 1px solid $trans-color;
    border-bottom: none;
    border-left: 1px solid $trans-color;
  }

  .form-user__basket {
    padding-top: 31px;
    padding-left: 31px;
  }

  .form-user__svg-wrap {
    margin-right: 30px;
  }
}

@media (min-width: $tablet) and (max-width: 1149px) {
  .form-user__input--modify {
    display: block;

    box-sizing: border-box;
    width: 165px;
  }
}

@media (min-width: $desktop) {
  .form-user {
    box-sizing: border-box;
    width: 400px;
    padding-right: 0;
    padding-left: 50px;

    border-bottom: none;

    justify-content: flex-start;
  }

  .form-user__input--modify {
    display: block;

    box-sizing: border-box;
    width: 165px;
    margin-left: 5px;
    padding-top: 10px;
  }

  .page-header__form--modify {
    width: 520px;
    padding-left: 0;
  }
}
