.form__item {
  width: 81%;
  margin: 0 auto;

  @include fieldset-default;
}

.form__complete {
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 31px;

  @include p-default;
}

.form__bottom-wrapper {
  width: 81%;
  margin: 0 auto;
}

.form__submit {
  width: 100%;
}

@media (min-width: $tablet) {
  .form__wrapper {
    display: flex;
  }

  .form__item {
    width: 87%;
  }

  .form__bottom-wrapper {
    display: flex;

    width: 87%;
    padding-top: 49px;

    align-items: baseline;
  }

  .form__complete {
    font-size: 17px;
    line-height: 30px;

    width: 302px;
    margin-bottom: 0;
    margin-left: auto;

    order: 1;
  }

  .form__submit {
    line-height: 17px;

    width: 230px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop) {
  .form__item {
    width: auto;
  }

  .form__bottom-wrapper {
    width: 700px;
    padding-top: 44px;
  }
}
