.form-user__search {
  @include p-default;
}

.form-user__input {
  font-size: 14px;
  line-height: 24px;
  padding: 5px 5px;
  border: 2px solid transparent;
}

.form-user__input::placeholder {
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  color: $contrast-color;
}

.form-user__basket {
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  color: $contrast-color;
}

.form-user__icon-search {
  fill: #d3d2d2;
}

.form-user__label:hover .form-user__icon-search,
.form-user__label:focus .form-user__icon-search {
  fill: $main-color;
}

.form-user__label:active .form-user__icon-search {
  fill: #d0f1ea;
}

.form-user {
  width: 260px;
  margin: 0 auto;
}

.form-user__search {
  @include p-default;
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid $trans-color;
}

.form-user__label {
  padding-top: 10px;
  margin-right: 20px;
}
