.legend {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 17px;

  display: flex;

  text-transform: uppercase;

  color: $main-color;

  &::after {
    width: 1px;
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 28px;

    content: "";

    background-color: $main-color;

    flex-grow: 1;
  }
}

@media (min-width: $tablet) {
  .legend {
    width: 167px;
    padding-top: 16px;

    flex-shrink: 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .legend {
    box-sizing: border-box;
    width: 175px;
    padding-left: 65px;
  }
}
