.mail__input::placeholder {
  font-size: 17px;
  line-height: 19px;

  opacity: 0.3;
  color: rgba(69, 69, 69, 1);
}

.mail__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 17px;

  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: right 3px top 7px;

  &:hover,
  &:focus {
    border-bottom-color: $main-color;
    background-image: url("../img/mail2.svg");
  }

  &:active {
    border-bottom-color: $main-color;
    background-image: url("../img/mail2.svg");
  }
}

.mail__input:active::placeholder {
  opacity: 1;
}

.mail__title {
  margin-bottom: 10px;
}

.mail {
  margin-bottom: 17px;
}

@media (min-width: $tablet) {
  .mail {
    width: auto;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 34px;

    background-color: $trans-color;
  }

  .mail__wrapper {
    width: 87%;
    margin: 0 auto;
  }

  .mail__title {
    padding-top: 20px;
  }

  .mail__input::placeholder {
    font-size: 18px;
  }

  .mail__input {
    width: 100%;
    padding-left: 18px;

    background-color: $trans-color;
    background-position: right 20px top 5px;
  }

  .mail__inner {
    flex-grow: 1;
  }
}

@media (min-width: $desktop) {
  .mail__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .mail__value {
    width: 700px;
  }

  .mail__input {
    background-position: right 4px top 5px;
  }
}
