.main-nav__list {
  @include ul-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__href {
  display: block;
  width: 260px;
  margin: 0 auto;
  color: $contrast-color;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 45px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item {
  border-bottom: 1px solid $trans-color;
}

@media (min-width: $tablet) {
  .main-nav__list {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 334px;
    margin-right: 79px;
  }

  .main-nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__href {
    width: 167px;
    padding-left: 0;
    padding-top: 18px;
  }
}

@media (min-width: $desktop) {
  .main-nav {
    display: block;
    width: auto;
  }

  .main-nav__list {
    width: 400px;
    box-sizing: border-box;
    font-size: 17px;
    margin-right: 0;
  }

  .main-nav__href {
    padding-top: 31px;
    padding-bottom: 33px;
    width: 185px;
  }

  .main-nav__item--first {
    border-right: 1px solid $trans-color;
  }

  .main-nav__item--last {
    padding-left: 29px;
  }

  .main-nav--modify {
    margin-right: 0;
  }
}
