.manufacturing__title {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;

  margin-bottom: 24px;
  padding-left: 90px;

  background-image: url("../img/video.svg");
  background-repeat: no-repeat;
  background-position: left 34px top 10px;
}

.manufacturing {
  width: 81%;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-top: 25px;
  padding-bottom: 32px;

  border: 1px solid rgba(236, 236, 236, 1);
}

.manufacturing__window {
  display: flex;

  width: 260px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 26px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .manufacturing__window {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.manufacturing__link-play {
  display: block;

  width: 101px;
  height: 77px;
  margin: auto;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);

    opacity: 0.3;
  }
}

.manufacturing__play {
  display: block;

  width: 100%;
  height: auto;
}

.manufacturing__inner {
  width: 74%;
  margin: auto;
}

.manufacturing__order {
  width: 100%;
}

.manufacturing__text {
  @include p-default;
  font-size: 13px;
  line-height: 24px;

  margin-bottom: 25px;
}

.manufacturing--hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.manufacturing--active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: $tablet) {
  .manufacturing {
    display: flex;
    flex-direction: column;

    width: 87%;
    margin-bottom: 63px;
    padding-top: 0;
    padding-bottom: 45px;
  }

  .manufacturing__inner {
    width: 87%;

    order: 2;
  }

  .manufacturing__window {
    width: 668px;
    height: 455px;

    background-image: url("../img/video-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .manufacturing__window {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .manufacturing__title {
    font-size: 20px;

    margin-bottom: 31px;
    padding-top: 12px;
    padding-left: 106px;

    background-position: left 42px top 10px;

    order: 1;
  }

  .manufacturing__order {
    width: 100%;
  }

  .manufacturing__text {
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 35px;
  }
}

@media (min-width: $desktop) {
  .manufacturing {
    position: relative;

    flex-direction: row;

    width: 1050px;
    margin-bottom: 105px;
    padding-bottom: 0;
  }

  .manufacturing__title {
    position: absolute;
    top: 37px;
    left: calc(50% + 235px);

    width: 230px;
    padding-top: 59px;
    padding-left: 0;

    background-position: left 2px top 10px;
  }

  .manufacturing__window {
    width: 682px;
    height: 455px;
    margin: 0;

    background-image: url("../img/video-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .manufacturing__window {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .manufacturing__inner {
    width: 230px;
    margin: 0;
    margin-left: 78px;
  }

  .manufacturing__order {
    width: 230px;
  }

  .manufacturing__text {
    margin-bottom: 46px;
    padding-top: 177px;
  }
}
