.order__text {
  font-size: 13px;
  line-height: 24px;

  width: 81%;
  margin: 0 auto;
  margin-bottom: 23px;
  padding-top: 23px;

  @include p-default;
}

.order {
  margin-bottom: 55px;
}

@media (min-width: $tablet) {
  .order__text {
    font-size: 17px;
    line-height: 30px;

    width: 87%;
    margin-bottom: 57px;
    padding-top: 62px;
  }

  .order {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop) {
  .order__text {
    width: 700px;
    padding-top: 112px;
  }
}
