.page-header {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: left 50% bottom 133px;
  background-repeat: no-repeat;
  position: relative;
  background-size: 575px auto;
}

@media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header {
    background-image: url("../../img/hero-mobile@2x.jpg");
  }
}

.page-header--inner {
  background-image: none;
}

.page-header__top-wrap {
  padding-top: 22px;
  padding-bottom: 23px;
  position: relative;
  background-color: $paper-color;
  border-bottom: 1px solid $trans-color;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__button {
  @include btn-default;
  position: absolute;
  top: 29px;
  left: 50%;
  margin-left: 109px;
  width: 21px;
  height: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__button--close {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: $contrast-color;
  }

  &::before {
    transform: rotate(45deg);
    top: 8px;
    left: -4px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 8px;
    right: -3px;
  }
}

.page-header__button--open {
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $contrast-color;
    top: 2px;
    right: 1px;
    box-shadow: 0 6px 0 0 $contrast-color, 0 12px 0 0 $contrast-color;
  }
}

.page-header__img {
  display: block;
  width: 86px;
  height: 35px;
}

.page-header__title {
  font-family: $bold;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 122px;
}

.page-header--inner .page-header__title {
  width: auto;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: $trans-color;
}

@media (min-width: $tablet) {
  .page-header__img {
    width: 113px;
    height: 46px;
  }

  .page-header__logo {
    width: 113px;
    height: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .page-header__button {
    display: none;
  }

  .page-header__grid-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-header__form {
    order: 1;
  }

  .page-header__nav {
    order: 2;
  }

  .page-header__delivery {
    order: 3;
  }

  .page-header__top-wrap {
    width: 48%;
    box-sizing: border-box;
    border-bottom: 1px solid $trans-color;
    padding-bottom: 20px;
    display: flex;
    padding-left: 48px;
  }

  .page-header__form {
    width: 52%;
    border-bottom: 1px solid $trans-color;
  }

  .page-header__title  {
    font-size: 43px;
    line-height: 50px;
    width: 600px;
    margin-top: 82px;
    margin-bottom: 373px;
  }

  .page-header {
    background-image: url("../../img/hero-desktop@1x.jpg");
    background-position: left 50% bottom 11px;
    background-size: 1148px auto;
  }

  @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-header {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }

  .page-header--inner {
    background-image: none;
  }

  .page-header--inner .page-header__title {
    padding-top: 22px;
    padding-bottom: 92px;
  }

  .page-header--inner .page-header__nav {
    background-color: $trans-color;
  }

  .page-header--inner .page-header__delivery {
    background-color: $trans-color;
  }

  .page-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0px;
    bottom: -1px;
    background-image: url("../../img/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-position: bottom -1px left 0;
  }
}

@media (min-width: $tablet) and (max-width: 1149px) {
  .page-header__form--modify {
    width: 72%;
  }

  .page-header__top-wrap--modify {
    width: 28%;
  }
}

@media (min-width: $desktop) {
  .page-header__img {
    width: 149px;
    height: 72px;
  }

  .page-header__logo {
    width: 149px;
    height: 72px;
    margin: 0;
  }

  .page-header__top-wrap {
    width: 149px;
    border-bottom: none;
    order: 1;
    margin-right: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 0;
  }

  .page-header__top-wrap--modify {
    width: 149px;
    padding-right: 0;
    margin-right: 0;
  }

  .page-header--inner .page-header__nav {
    background-color: transparent;
  }

  .page-header__nav {
    order: 0;
    margin-right: 49px;
    display: flex;
  }

  .page-header__form {
    order: 2;
  }

  .page-header__stock {
    order: 3;
  }

  .page-header__delivery {
    order: 4;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
    width: 710px;
    margin-top: 112px;
    margin-bottom: 358px;
  }

  .page-header::after {
    height: 50px;
    background-size: 1250px 40px;
    background-position: bottom -9px left -50px;
  }

  .page-header--inner .page-header__title {
    padding-top: 52px;
    padding-bottom: 112px;
  }

  .page-header--inner .page-header__stock {
    background-color: $trans-color;
  }

  .page-header--inner .page-header__delivery {
    background-color: $trans-color;
  }
}

@media (max-width: 767px) {
  .page-header__nav {
    display: none;
  }

  .page-header__form {
    display: none;
  }

  .page-header--open .page-header__nav {
    display: block;
  }

  .page-header--open .page-header__form {
    display: block;
  }

  .page-header--nojs .page-header__nav {
    display: block;
  }

  .page-header--nojs .page-header__form {
    display: block;
  }

  .page-header--nojs .page-header__button {
    display: none;
  }
}
