.phone__input::placeholder {
  font-size: 19px;
  line-height: 19px;

  opacity: 0.3;
  color: rgba(69, 69, 69, 1);
}

.phone__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 17px;

  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: right 7px top 7px;

  &:hover,
  &:focus {
    border-bottom-color: $main-color;
    background-image: url("../img/phone2.svg");
  }

  &:active {
    border-bottom-color: $main-color;
    background-image: url("../img/phone2.svg");
  }
}

.phone__input:active::placeholder {
  opacity: 1;
}

.phone__title {
  margin-bottom: 10px;
}

.phone {
  margin-bottom: 32px;
}

@media (min-width: $tablet) {
  .phone__title {
    padding-top: 13px;
  }

  .phone {
    width: 100%;
    margin-bottom: 0;
    padding-top: 53px;

    background-color: $trans-color;
  }

  .phone__input {
    padding-left: 17px;

    background-color: $trans-color;
    background-position: right 25px top 7px;
  }

  .phone__wrapper {
    width: 87%;
    margin: 0 auto;
  }

  .phone__inner {
    flex-grow: 1;
  }
}

@media (min-width: $desktop) {
  .phone__wrapper {
    width: 1050px;
  }

  .phone__value {
    width: 700px;
  }

  .phone__input {
    background-position: right 9px top 7px;
  }
}
