.popup__titile {
  @include p-default;
  font-family: $bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
}

.popup__text {
  @include p-default;
  text-align: center;
  margin-bottom: 28px;
}

.popup__legend {
  line-height: 30px;
}

.popup__fieldset {
  @include fieldset-default;
  margin-bottom: 32px;
}

.popup__item {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
}

.popup__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
}

.popup__fielset-wrap {
  display: flex;
  justify-content: space-between;
}

.popup__label {
  display: block;
  width: 82px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid $trans-color;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover,
  &:focus {
    border-color: rgba(199, 199, 199, 1);
  }

  &:active {
    border-color: $main-color;
  }
}

.popup__input:checked ~ .popup__label {
  border-color: $main-color;
}

.popup__submit {
  color: $paper-color;
  background-color: $main-color;
  border-color: $main-color;
}

.popup {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: $paper-color;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 28px;
}

@media (min-width: $tablet) {
  .popup {
    width: 556px;
  }
}
