.product__title {
  @include p-default;
  font-family: $bold;
  font-size: 25px;
  line-height: 30px;
}

.product-wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 28px;
}

.product__lid {
  font-family: $bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-color;
  display: block;
  margin-top: 4px;
  margin-bottom: 23px;
}

.product__description {
  @include p-default;
  line-height: 24px;
  margin-bottom: 20px;
}

.product__table {
  display: flex;
  margin-bottom: 29px;
}

.product__data {
  font-family: $regular;
  font-weight: normal;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $trans-color;
  padding-top: 8px;
  padding-bottom: 10px;
}

.product__table tbody {
  display: flex;
}

.product__row {
  display: flex;
  flex-wrap: wrap;
}

.product__row--title {
  width: 96px;
}

.product__row--value {
  width: 164px;
}

.product__image {
  display: block;
  margin-bottom: 24px;
}

.product__price {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 26px;
}

.product {
  padding-bottom: 43px;
  background-image: url("../../img/zigzag-line-desktop-product.svg");
  background-repeat: repeat-x;
  background-position: left -10px bottom 0;
  background-size: 350px auto;
}

@media (min-width: $tablet) {
  .product__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  .product__lid {
    line-height: 17px;
    position: absolute;
    right: 7px;
    top: 40px;
    width: 115px;
    text-align: center;
  }

  .product-wrapper {
    width: 670px;
    position: relative;
    padding-top: 34px;
  }

  .product__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 38px;
  }

  .product__column {
    width: 290px;
  }
}
