.product__title {
  @include p-default;
  font-family: $bold;
  font-size: 25px;
  line-height: 30px;
}

.product-wrapper {
  width: 81%;
  margin: 0 auto;
  padding-top: 28px;
}

.product__lid {
  font-family: $bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-color;
  display: block;
  margin-top: 4px;
  margin-bottom: 23px;
}

.product__description {
  @include p-default;
  line-height: 24px;
  margin-bottom: 20px;
}

.product__table {
  display: flex;
  margin-bottom: 29px;
}

.product__data {
  font-family: $regular;
  font-weight: normal;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $trans-color;
  padding-top: 8px;
  padding-bottom: 10px;
}

.product__table tbody {
  display: flex;
}

.product__row {
  display: flex;
  flex-wrap: wrap;
}

.product__row--title {
  width: 96px;
}

.product__row--value {
  width: 164px;
}

.product__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 100%;
  max-width: 420px;
}

.product__price {
  @include p-default;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 26px;
}

.product {
  padding-bottom: 43px;
  background-image: url("../../img/zigzag-line-desktop-product.svg");
  background-repeat: repeat-x;
  background-position: left -10px bottom 0;
  background-size: 350px auto;
}

.product__order {
  width: 100%;
}

@media (min-width: $tablet) {
  .product__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    position: relative;
    z-index: 2;
  }

  .product__lid {
    line-height: 17px;
    position: absolute;
    right: 7px;
    top: 40px;
    width: 115px;
    text-align: center;
  }

  .product-wrapper {
    width: 87%;
    position: relative;
    padding-top: 34px;
  }

  .product__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 38px;
  }

  .product__column {
    width: 290px;
  }

  .product__image {
    position: absolute;
    right: 0;
    top: 141px;
    width: auto;
    max-width: 100%;
  }

  .product__price {
    font-size: 20px;
    margin-bottom: 34px;
  }

  .product__table {
    margin-bottom: 57px;
  }

  .product__order  {
    width: 290px;
  }

  .product {
    background-size: 800px auto;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 96px;
    background-size: 1050px auto;
    background-position: left -25px bottom 0;
  }

  .product-wrapper {
    width: 875px;
    margin-left: 174px;
    padding-top: 112px;
  }

  .product__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product__description {
    margin-bottom: 50px;
  }

  .product__lid {
    top: 123px;
    left: -150px
  }

  .product__table {
    margin-bottom: 110px;
  }

  .product__order  {
    width: 293px;
  }

  .product__image {
    top: 60px;
  }
}
