.slider__toggle {
  display: flex;

  width: 260px;
  margin: 0 auto;
  margin-bottom: 38px;

  @include p-default;
}

.slider__button {
  box-sizing: boder-box;
  width: 130px;
  height: 52px;

  border: 1px solid $trans-color;
  background-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__button--prev {
  border-right: none;
  background-image: url("../img/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 47%;
}

.slider__button--next {
  background-image: url("../img/huge-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 52%;
}

@media (min-width: $tablet) {
  .slider__toggle {
    position: absolute;
    right: 0;
    bottom: -39px;

    width: 160px;
  }

  .slider__button {
    width: 80px;

    border: none;
  }

  .slider__button--prev {
    background-position: left 12% top 50%;
  }

  .slider__button--next {
    background-position: right 65% top 50%;
  }
}
