$regular: "Open Sans", "Arial", sans-serif;
$light: "Open Sans Light", "Arial", sans-serif;
$bold: "Open Sans Bold", "Arial", sans-serif;
$paper-color: rgba(255, 255, 255, 1);
$contrast-color: rgba(0, 0, 0, 1);
$main-color: rgba(99, 209, 187, 1);
$chapters-color: rgba(86, 195, 178, 1);
